App{
  font-family: 'Courier New', Courier, monospace;
}
.nav-bar {
  background-color: #333;
  border-bottom: 4px solid #61dafb;
  margin: 0 10px;
  padding: 1rem ;
  position: relative;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-right: 1rem;
}

.nav-list a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-list li a:hover {
  color: #61dafb;
}

/* Hamburger responsive styles */
.hamburger {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    display: none;
    background-color: #444;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  .nav-list.open {
    display: flex;
  }

  .nav-list li {
    margin: 1rem;
  }
}
