/* ConfirmationModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: rgb(100, 99, 114);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .modal-buttons {
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007acc;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-buttons button:hover {
    background-color: #005f99;
  }
  
  h1 {
    color: rgb(255, 255, 255);
  }

  .button-container {
    width: 97%;
    height: 80vh;
    border: 2px solid rgb(6, 236, 248);
    padding: 10px 20px;
    margin: 10px 14px;
    border-radius: 5px;
    background-color: #6a6a6a;
    display: block;
    align-items: center;
    box-shadow: #f0f0f0 0px 0px 10px;
    }
    .button-group{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 10px;
         margin-top: 60vh;
        width: 100%;
    }